header {
  /* Universal */
  background-color: #011827;
  /* Phone */
  /* PC */
}
header h1 {
  color: white;
}
@media screen and (max-width: 1200px) {
  header {
    width: 100%;
    display: flex;
  }
  header img {
    margin: 5% 2% 5% 5%;
  }
  header h1 {
    display: inline;
    margin: auto 0 auto 0;
    width: 5%;
  }
  header a {
    display: none;
  }
  header h1 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  header img {
    margin: 1% 0 0 1%;
  }
  header h1 {
    margin-left: 2%;
    display: inline;
    font-size: 35px;
  }
  header nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  header a {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  header a:hover {
    color: #8acfe5;
  }
}

/* Coder picture code for phone */
@media screen and (max-width: 1200px) {
  .coder-section__img {
    width: 100%;
    height: auto;
    display: block;
  }
  .coder-section__pc-img {
    display: none;
  }
}
/* Coder picture for PC */
@media screen and (min-width: 1200px) {
  .coder-section__img {
    display: none;
  }
  .coder-section__pc-img {
    max-width: 1200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Story container phone */
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011827;
  font-size: 22px;
  height: 30rem;
}
.story-container__button {
  height: 2rem;
  width: 60%;
  font-size: 18px;
  margin-top: 2rem;
  background-color: #011827;
  border: solid 1px #8acfe5;
  color: #8acfe5;
}
.story-container__text {
  color: white;
  text-align: center;
  width: 90%;
}

/* Story container pc  */
@media screen and (min-width: 1200px) {
  .story-container__text {
    width: 40%;
  }
  .story-container__button {
    height: 4rem;
    width: 25%;
  }
}
/* Play info container phone */
@media screen and (max-width: 1200px) {
  .play-info-container__button {
    border: none;
    background-color: #e3170a;
    color: white;
    width: 65%;
    height: 3rem;
    margin-right: 25%;
  }
  .play-info-container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  .play-info-container__content-title {
    width: 90%;
  }
  .play-info-container__content p {
    width: 90%;
  }
  .play-info-container__img {
    width: 100%;
  }
}
/* Play info container PC */
@media screen and (min-width: 1200px) {
  .play-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 8rem;
  }
  .play-info-container__img-wrapper2 {
    grid-column: 2;
    grid-row: 2;
  }
  .play-info-container img {
    width: 100%;
  }
  .play-info-container__content-title {
    width: 70%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .play-info-container p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .play-info-container__button {
    height: 3rem;
    margin-left: 15%;
    width: 16rem;
    background-color: #e3170a;
    border: none;
    color: white;
    font-size: 20px;
  }
}
/* Phone styling for footer */
.footer {
  color: white;
  background-color: #011827;
  height: 26rem;
  padding-top: 1rem;
}
.footer__info {
  padding-left: 1rem;
}
.footer__nav-title, .footer__social-title {
  padding-left: 1rem;
}
.footer__nav-list, .footer__nav-social {
  padding: 0;
  margin: 0;
}
.footer li {
  list-style: none;
}
.footer a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .footer__info {
    margin-left: 10%;
    margin-right: 15%;
    width: 30%;
  }
  .footer__social {
    margin-bottom: 4%;
  }
  .footer__nav {
    margin-right: 5%;
  }
  .footer__nav-list-legal {
    margin-bottom: 1rem;
  }
}
/* Phone and PC */
html {
  font-family: roboto, sans-serif;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  background-color: #011827;
}

button {
  font-family: roboto, sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.main-challenges-title {
  text-align: center;
}

/* Button Wrapper Phone */
@media screen and (max-width: 1200px) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-wrapper__online {
    display: none;
  }
  .button-wrapper__onsite {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #8acfe5;
    width: 65%;
    height: 3rem;
    font-size: 22px;
    font-weight: 700;
  }
  .button-wrapper__anchor {
    color: #011827;
    margin-bottom: 2rem;
  }
}
/* Button Wrapper PC */
@media screen and (min-width: 1200px) {
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  .button-wrapper__online {
    border: none;
    background-color: #e3170a;
    display: inline;
    height: 4rem;
    width: 19rem;
    font-size: 22px;
    font-weight: 700;
    color: white;
  }
  .button-wrapper__onsite {
    border: none;
    background-color: #8acfe5;
    width: 19rem;
    height: 4rem;
    margin-left: 1rem;
    font-size: 22px;
    font-weight: 700;
  }
  .button-wrapper__first {
    transform: translateY(-30px);
  }
  .button-wrapper__second {
    margin-bottom: 4rem;
  }
  .button-wrapper a {
    display: none;
  }
}
/* Quote Section Universal */
.quote-container p {
  font-style: italic;
  margin-bottom: 5px;
}

/* Quote Section Phone */
@media screen and (max-width: 1200px) {
  .quote-container {
    margin-top: 5rem;
  }
  .quote-container__quote img {
    float: left;
    margin-right: 5%;
    margin-left: 3%;
  }
  .quote-container__quote--featured {
    display: none;
  }
}
/* Quote Section PC */
@media screen and (min-width: 1200px) {
  .quote-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .quote-container__quote {
    width: 35%;
  }
  .quote-container__quote img {
    width: 96px;
    margin-right: 5%;
    float: left;
  }
  .quote-container p {
    margin-top: 0;
  }
}
/* Card-container phone */
@media screen and (max-width: 1200px) {
  .main-challenges-title {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
  }
  .card-container__card {
    box-shadow: #b6bdb5 0px 5px 15px;
    flex: 0 0 300px;
    border-radius: 1rem;
    margin: 0 1rem 5% 1rem;
  }
  .card-container h3 {
    font-weight: 400;
    margin-left: 5%;
    margin-bottom: 0;
  }
  .card-container__star-container {
    margin-left: 5%;
  }
  .card-container p {
    margin: 5%;
  }
  .card-container__button {
    background-color: #e3170a;
    border: none;
    width: 40%;
    height: 2rem;
    margin: 0 auto 5% 50%;
    border-radius: 3px;
    color: white;
  }
  .card-container span {
    font-size: 11px;
    margin-left: 5%;
  }
}
/* Card Container PC */
@media screen and (min-width: 1200px) {
  .main-challenges-title {
    margin-bottom: 4rem;
  }
  .card-container {
    display: flex;
    margin-bottom: 2rem;
  }
  .card-container__card {
    box-shadow: #b6bdb5 0px 5px 15px;
    flex: 0 0 300px;
    border-radius: 1rem;
    margin: 0 1rem 5% 1rem;
  }
  .card-container__button {
    background-color: #e3170a;
    border: none;
    width: 40%;
    height: 2rem;
    margin: 0 auto 5% 50%;
    border-radius: 3px;
    color: white;
  }
  .card-container h3 {
    font-weight: 400;
    margin-left: 5%;
  }
  .card-container__star-container {
    margin-left: 5%;
  }
  .card-container p {
    margin: 5%;
  }
  .card-container img {
    margin-bottom: 0.5rem;
  }
  .card-container span {
    font-size: 13px;
    margin-left: 3.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
