.book-page-one {
   position: fixed;
   display: grid;
   padding: 20px;
   top: 15%;
   left: 28%;
   width: 40vw;
   height: 60vh;
   background-color: white;
   box-shadow: #101827 0px 0px 3px 0.3px;
   border-radius: 10px;
   .container-top {
      display: grid;
      p {
         margin: 0px;
      }
      p:last-of-type {
         align-content: end;
         padding-left: 2px;
      }
      input {
         max-width: fit-content;
         max-height: fit-content;
         padding: 5px 10px;
         border-width: 1.5px;
         border-radius: 5px;
         cursor: pointer;
      }
   }
   .container-bottom {
      display: flex;
      justify-content: end;
      align-items: end;
      #btn-search-time {
         padding: 10px;
         border: none;
         background-color: #6558f5;
         color: white;
         cursor: pointer;
         border-radius: 4px;
         &:hover {
            background-color: yellow;
            color: black;
         }
      }
   }
}




//----page 2---
.booking-step-two {
   position: fixed;
   display: grid;
   padding: 20px;
   top: 15%;
   left: 28%;
   width: 40vw;
   height: 60vh;
   background-color: white;
   box-shadow: #101827 0px 0px 3px 0.3px;
   border-radius: 10px;
   .container-form{
      display: grid;
      min-width: fit-content;
      max-width:50%;
      input{
         margin-bottom: 20px;
         padding: 5px;
         border-width: 1.5px;
         border-radius: 5px;
         cursor: text;
      }
      select{
         margin-bottom: 20px;
         min-width: fit-content;
         max-width: 50%;
         padding: 5px;
         border-width: 1.5px;
         border-radius: 5px;
         cursor: pointer;
      }
   }
   div{
      display: flex;
      justify-content: end;
      align-items: end;
      .submit-booking{
         padding: 10px;
         border: none;
         background-color: #6558f5;
         color: white;
         cursor: pointer;
         border-radius: 4px;
         &:hover {
            background-color: yellow;
            color: black;
         }
      }
   }
}
//-------book-page-confirm--------
.book-page-confirm{
   position: fixed;
   display: grid;
   justify-content: center;
   align-items: center;
   padding: 20px;
   top: 15%;
   left: 28%;
   width: 40vw;
   height: 60vh;
   background-color: white;
   box-shadow: #101827 0px 0px 3px 0.3px;
   border-radius: 10px;
   a{
      color: #6558f5;
   }
}