@use "variables" as *;

.phone-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 24px;
  font-weight: 700;
  color: white;
  position: fixed;
  z-index: 100;
  background-color: $darkBlue;
  animation: opacityGrow 0.5s;
  animation-fill-mode: forwards;
}

.close-nav-btn {
  position: absolute;
  opacity: 0;
  top: 5%;
  right: 5%;
  background-color: transparent;
  border: none;
  transition: opacity 2s 0.2s;
}

.hidden-to-visible-transition {
  opacity: 1;
}

.opacity-transition {
  opacity: 0.5;
}

@keyframes opacityGrow {
  0% {
    opacity: 0;
    top: 10%;
    left: 10%;
    width: 80vw;
    height: 80vh;
  }
  100% {
    opacity: 1;
    top: 5%;
    left: 5%;
    width: 90vw;
    height: 90vh;
  }
}

.cutInHalf {
  clip-path: inset(0 50% 0 0);
}

.hidden {
  display: none;
}

.red {
  color: #ff0000;
}
