.filterSection {
  display: grid;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 50px;
  box-shadow: #101827 0px 0px 4px 0.08px;
  .containerHead {
    display: flex;
    flex: none;
    justify-content: space-between;
    margin-bottom: 40px;
    p {
      margin: 0px;
      padding: 0px;
    }
  }
  .filterContainer {
    display: flex;
    justify-content: space-between;
    .containerLeft {
      #includeOnline {
        margin: 0px;
      }
      #includeOnsite {
        margin: 0px;
      }
    }
    .containerMiddle {
      display: grid;
      .starsContainer {
        display: flex;
        align-items: center;
        i {
          color: blue;
        }
        p {
          margin: 0;
          padding: 0px 20px;
        }
      }
      .inputTitle {
        margin: 100px 0px 5px 0px;
      }
      .filterInput {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: black 0px 0px 1px 0.3px;
      }
    }
    .containerRight {
      .tagsGrupTop {
        margin-bottom: 5px;
      }
      button {
        padding: 5px 10px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        box-shadow: #101827 0px 0px 1px 0.08px;
        &:hover {
          background-color: #788797;
          color: white;
        }
      }
    }
  }
}
