@use "variables" as *;

/* Footer Styling */
.footer {
  color: white;
  background-color: $darkBlue;
  height: 26rem;
  padding-top: 1rem;

  &__info,
  &__nav-title,
  &__social-title {
    padding-left: 1rem;
  }

  &__nav-list,
  &__nav-social {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
  }

  /* PC Styles */
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__info {
      margin: 0 15% 0 10%;
      width: 30%;
    }

    &__social {
      margin-bottom: 4%;
    }

    &__nav {
      margin-right: 5%;
    }

    &__nav-list-legal {
      margin-bottom: 1rem;
    }
  }
}
