@use "variables" as *;
@use "mixins" as *;

/* Phone */
@media screen and (max-width: 1280px) {
  header {
    background-color: $darkBlue;

    img {
      margin: 5% 2% 5% 5%;
    }

    h1 {
      display: inline-block;
      position: absolute;
      color: white;
      width: 4rem;
      font-size: 22px;
      margin: 4.9% 1% 5% 2%;
    }

    nav {
      display: none;

      a {
        color: white;
        text-decoration: none;
        font-size: 24px;
      }
    }

    .hamburger-button {
      background-color: transparent;
      border: none;
      position: absolute;
      margin-top: 5%;
      right: 1rem;
    }
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  header {
    color: white;
    background-color: $darkBlue;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;

    button {
      display: none;
    }

    img {
      margin: 1% 0 0 1%;
    }

    h1 {
      margin-left: 2%;
      display: inline;
      font-size: 35px;
    }

    nav {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      padding: 0 10rem;
    }

    a {
      margin: 1rem 0 2rem 0;
      font-size: 22px;
      font-weight: 700;
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: $lightBlue;
    }
  }
}
