@use "variables" as *;

header {
  display: flex;
  width: 100%;
  background-color: $darkBlue;

  img {
    margin: 5% 2% 5% 5%;
  }

  h1 {
    font-size: 22px;
    color: white;
    display: inline;
    margin: auto 0 auto 0;
    width: 5%;
  }

  a {
    display: none;
  }
}
