@use "mixins" as *;
@use "variables" as *;

/* Styling for challenges.html */

.challenges-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.challenges-filter-button {
  width: 10rem;
  height: 3rem;
}
