@use "mixins" as *;
@use "variables" as *;
@use "header";
@use "section";
@use "footer";

html {
  font-family: roboto, sans-serif;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  font-family: roboto, sans-serif;
}

.container {
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  &__online {
    display: none;
  }

  &__onsite {
    background-color: $lightBlue;
    border: none;
    @include phone-button-size;
  }
}

.quote-container {
  width: 90%;
  margin-left: 1rem;
  font-style: italic;
  &__quote--featured {
    /* Hiding the second quote for mobile */
    display: none;
  }

  &__img {
    float: left;
    margin-right: 1rem;
  }

  /*   &__text {
      display: inline; 
  } */
}
/* testing */
main {
  h2 {
    text-align: center;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;

    &__card {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      flex: 0 0 70%;
      border-radius: 1rem;
      margin: 0 1rem 5% 1rem;
    }

    &__img {
      width: 100%;
    }

    h3 {
      margin-left: 5%;
      margin-bottom: 0;
    }

    &__star-container {
      margin-left: 5%;
    }

    p {
      margin: 5%;
    }

    &__button {
      background-color: $red;
      border: none;
      width: 40%;
      height: 2rem;
      margin: 0 auto 5% 50%;
      border-radius: 3px;
      color: white;
    }
  }
}
