@mixin button-size {
  height: 3rem;
  margin-bottom: 1rem;
  width: 60%;
}

@mixin respond($breakpoint) {
  @if $breakpoint == max-width {
    @media screen and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == min-width {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}
