@use "variables" as *;
@use "mixins" as *;

/* Coder picture code for phone */
@media screen and (max-width: 1200px) {
  .coder-section {
    &__img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
/* Coder picture for PC */
@media screen and (min-width: 1200px) {
  .coder-section {
    &__img {
      max-width: 1200px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* Story container */

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darkBlue;
  font-size: 22px;
  height: 30rem;

  &__button {
    height: 2rem;
    width: 60%;
    font-size: 18px;
    margin-top: 2rem;
    background-color: $darkBlue;
    border: solid 1px $lightBlue;
    color: $lightBlue;
  }

  &__text {
    color: white;
    text-align: center;
  }
}

/* Play info container */

.play-info-container {
  display: flex;
  flex-direction: column;
  &__img {
    width: 100%;
  }
  &__content {
    height: 30rem;
    margin-left: 5%;
    margin-right: 5%;

    h2 {
      font-size: 28px;
    }
    p {
      font-size: 22px;
    }
  }
  &__button {
    @include phone-button-size;
    background-color: $red;
    font-size: 18px;
    border: none;
    color: white;
  }
}
