@use "variables" as *;

.challenges-body {
  display: block;
}

.api-card-container {
  background-color: white;
  margin: 0 auto 0 auto;
  padding: 5%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-items: center;
  @media screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }
  &__card {
    background-color: white;
    box-shadow: $grey 0px 5px 15px;
    border-radius: 10px;
    position: relative;

    &:hover {
      box-shadow: $darkBlue 0px 5px 30px;
    }
    h3 {
      margin: 5%;
    }
    i {
      float: left;
      transform: translateX(18px);
    }
    small {
      display: flex;
      justify-content: flex-end;
      margin-right: 25px;
    }
    p {
      margin: 5% 0 0 5%;
      min-height: 40px;
    }
    button {
      display: flex;
      justify-self: end;
      align-items: center;
      justify-content: center;
      margin: 0 5% 5% 0;
      background-color: $red;
      border: none;
      width: 11rem;
      height: 2.5rem;
      // margin: 2rem auto 5% 45%;
      // justify-self: end;
      border-radius: 3px;
      color: white;
    }
    .img-container {
      position: relative;
      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px 10px 0px 0px;
      }

      .icon {
        position: absolute;
        color: $darkBlue;
        top: 10px;
        right: 25px;
        font-size: 2.5rem;
        padding: 5px;
        z-index: 100;
      }
    }
  }
}
//----- to style and control the our challenges title and filter button---
.title-btn-container {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  h1 {
    color: black;
    user-select: none;
  }
  #filter-btn.active {
    display: none;
  }
  #filter-btn {
    padding: 15px;
    font-weight: bold;
    border-radius: 7px;
    max-width: fit-content;
    place-self: center;
    border-width: 1px;
    color: #6558f5;
    border-color: #6558f5;
    margin-bottom: 70px;
    &:hover {
      background-color: #6558f5;
      color: white;
    }
  }
}
//----------
